* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 15px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input {
  padding: 5px;
  font-size: 1.2em;
  width: 400px;
  height: 21px;
  border: 2px solid #212121;
  border-radius: 4px;
}

button.add {
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-color: #ffffff00;
}

button.add:hover {
  cursor: pointer;
  background-color: lightgreen;
  transition: 0.1s;
}

button.add:active {
  background-color: rgb(94, 194, 94);
}

#input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}
